---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import Accordion from "../components/Accordion.astro";

import "../styles/global.css";
---

<Layout title="Fonctionnement - Agenda des Voisins">
  <section>
    <h1>Comment ça marche ?</h1>
    <Timeline
      items={[
        {
          title: 'Étape 1 : <span class="font-medium">Collecte des événements</span>',
          description:
            "Les citoyens, associations, quartiers et collectivités nous envoient leurs événements grâce à un formulaire.",
          icon: "tabler:calendar-search",
        },
        {
          title: 'Étape 2 : <span class="font-medium">Vérification et sélection</span>',
          description:
            'Une ou deux personnes vérifient, sélectionnent, et mettent en page les événements sur l'agenda, en respectant une ligne éditoriale. <br/> <br/> <p class="font-bold italic border-2">On privilégie les petits événements locaux, de préférence gratuits et grand public afin que tout le monde se sente bienvenu. On évite les sujets qui fâchent et on veille à la diversité des propositions.</p>  <br/> Ensuite trois autres contributeurs font ensuite la relecture de l'agenda final.',
          icon: "tabler:ballpen",
        },
        {
          title: 'Étape 3 : <span class="font-medium">Impression</span>',
          description:
            "Nous avons testé plusieurs solutions, et nous imprimons aujourd'hui chez Familles Rurales Briouze, en utilisant les dons en argent ou en papier des bénéficiaires.",
          icon: "tabler:printer",
        },
        {
          title: 'Étape 4 : <span class="font-medium">Pliage et distribution entre distributeurs</span>',
          description:
            "Nous nous donnons rdv pour plier les quelques milles agendas. Nous sommes généralement entre 4 et 8 bénévoles. Ensuite, chacun récupère une partie des agendas pour les distribuer aux distributeurs bénévoles qui sont sur leur route.",
          icon: "tabler:package",
        },
        {
          title: 'Étape 5 : <span class="font-medium">La distribution</span>',
          description:
            "Enfin, les distributeurs finaux font le tour de leur voisinage pour déposer les agendas dans les boîtes aux lettres de leurs voisins. Nous utilisons une carte pour nous assurer que chaque zone est couverte, sans oublis ni doublons.",
          icon: "tabler:send-2",
        },
      ]}
    />
  </section>

  <section>
    <h2>Foire aux questions</h2>
    <Accordion
      items={[
        {
          title: "Quel est le budget de l'Agenda des Voisins ?",
          description:
            "L'agenda a un petit budget : 4 ramettes de papier (4 x 5€) et 3000 impressions (3000 x 0,02€), soit environ 80€ par mois. Les bénéficiaires (associations, collectivités, voisins) donnent régulièrement de l'argent ou du papier.",
          number: 1,
        },
        {
          title: "Qui décide de la ligne éditoriale ?",
          description:
            "La ligne éditoriale est discutée lors de réunions trimestrielles entre bénévoles. Le prochain rendez-vous aura lieu en novembre 2024.",
          number: 2,
        },
        {
          title: "Comment sont prises les décisions ?",
          description:
            "Les décisions sont prises de manière inclusive et lente pour que chacun puisse s'adapter. Nous testons chaque nouveauté avant de l'adopter, afin d'assurer que tout fonctionne bien.",
          number: 3,
        },
        {
          title: "Quel est le statut juridique de l'Agenda des Voisins ?",
          description:
            "L'Agenda est pour l'instant soutenu par Familles Rurales Briouze, qui partage nos valeurs de lien social. À terme, nous envisageons de devenir une association.",
          number: 4,
        },
      ]}
    />
  </section>
</Layout> 