---
import Layout from "../layouts/Layout.astro";
import Stats from "../components/Stats.astro";
import Image from "../components/Image.astro";
import Timeline from "../components/Timeline.astro";
import Wanted from "../components/Wanted.astro";
import Accordion from "../components/Accordion.astro";

import "../styles/global.css";
---

<Layout title="YOUR NAME">
  <section>
    <h1>L'Agenda des Voisins</h1>

    <p>
      L’Agenda des Voisins est né dans le bocage ornais pour répondre à un
      besoin simple : aider ceux qui n’utilisent pas ou peu les outils
      numériques à connaître les événements locaux. Cet agenda est en format
      papier et est distribué directement dans les boîtes aux lettres par des
      bénévoles.
    </p>

    <Image
      src="~/assets/images/DoodledBird.png"
      alt="logo"
      class="logo"
      width={100}
      height={100}
      layout="contained"
    />
    <Stats
      stats={[
        { title: "Agendas distribués", amount: "1050" },
        { title: "Villages touchés", amount: "19" },
        { title: "Distributeurs", amount: "26" },
        { title: "Relecteurs", amount: "3" },
      ]}
    />
  </section>
  <section>
    <h1>Les agendas passés</h1>
    <ul class="agendas">
      <li>
        <a
          href="src/assets/agendas/2024-05-agenda-des-voisins.pdf"
          download="2024-05-agenda-des-voisins.pdf">📥 Agenda de Mai 2024</a
        >
      </li>
      <li>
        <a
          href="src/assets/agendas/2024-05-agenda-des-voisins.pdf"
          download="2024-05-agenda-des-voisins.pdf">📥 Agenda de Mai 2024</a
        
      </li>
    </ul>>
  </section>

  <section>
    <h2>Comment ca marche ?</h2>
    <Timeline
      items={[
        {
          title:
            'Étape 1 : <span class="font-medium">Collecte des événements</span>',
          description:
            "Les citoyens, associations, quartiers et collectivités nous envoient leurs événements grâce à un formulaire.",
          icon: "tabler:calendar-search",
        },
        {
          title:
            'Étape 2 : <span class="font-medium">Vérification et sélection</span>',
          description:
            'Une ou deux personnes vérifient, sélectionnent, et mettent en page les événements sur l’agenda, en respectant une ligne éditoriale. <br/> <br/> <p class="font-bold italic border-2">On privilégie les petits événements locaux, de préférence gratuits et grand public afin que tout le monde se sente bienvenu. On évite les sujets qui fâchent et on veille à la diversité des propositions.</p>  <br/> Ensuite trois autres contributeurs font ensuite la relecture de l’agenda final.',
          icon: "tabler:ballpen",
        },
        {
          title: 'Étape 3 : <span class="font-medium">Impression</span>',
          description:
            "Nous avons testé plusieurs solutions, et nous imprimons aujourd'hui chez Familles Rurales Briouze, en utilisant les dons en argent ou en papier des bénéficiaires.",
          icon: "tabler:printer",
        },
        {
          title:
            'Étape 4 : <span class="font-medium">Pliage et distribution entre distributeurs</span>',
          description:
            "Nous nous donnons rdv pour plier les quelques milles agendas. Nous sommes généralement entre 4 et 8 bénévoles. Ensuite, chacun récupère une partie des agendas pour les distribuer aux distributeurs bénévoles qui sont sur leur route.",
          icon: "tabler:package",
        },
        {
          title: 'Étape 5 : <span class="font-medium">La distribution</span>',
          description:
            "Enfin, les distributeurs finaux font le tour de leur voisinage pour déposer les agendas dans les boîtes aux lettres de leurs voisins. Nous utilisons une carte pour nous assurer que chaque zone est couverte, sans oublis ni doublons.",
          icon: "tabler:send-2",
        },
      ]}
    />
  </section>

  <!-- <section>
    <h2>Nous recherchons en ce moment...</h2>

    <Wanted
      items={[
        {
          title: "Vous connaissez Indesign ? On a besoin de vous !",
          description: `Nous cherchons des personnes qui savent utiliser Indesign pour nous aider à mettre en page nos documents. C'est rapide : environ 30 minutes par mois ! C'est une mission simple, et ça tourne entre plusieurs personnes. Si vous avez un peu de temps et que vous connaissez le logiciel, votre aide serait précieuse !`,
          icon: "tabler:tool",
          image: {
            src: "~/assets/images/DoodledBird.png",
            alt: "Steps image",
          },
        },
        {
          title: "Aider à envoyer deux mails par mois",
          description:
            "Nous avons besoin de deux personnes pour envoyer deux mails par mois. Le premier, le 20 du mois, sert à rappeler aux gens de participer. Le second, en fin de mois, partage notre édition finale avec nos abonnés. Pas besoin d'être un expert en informatique, nous utilisons Brevo, un outil simple avec des modèles déjà prêts. Cette tâche prend moins d'une heure par mois et c'est une mission que vous pouvez faire de façon tournante, donc vous n'êtes pas obligé(e) de vous engager pour plusieurs mois d'affilée.",
          icon: "tabler:mail",
          image: {
            src: "~/assets/images/DoodledBird.png",
            alt: "Steps image",
          },
        },
        {
          title:
            "Vous avez un espace pour accueillir une session de pliage d’agendas ?",
          description:
            "Chaque mois, nous nous retrouvons pour plier des agendas, discuter, et passer un bon moment ensemble. Actuellement, ces rencontres se font souvent chez Alice et Guillaume à la Forêt-Auvray, mais nous aimerions varier les lieux. Si vous avez un espace et que vous êtes partant(e) pour accueillir une session, faites-le nous savoir par mail. En général, nous sommes entre 4 et 8 personnes, et c'est l'occasion de partager un moment convivial tout en aidant le projet.",
          icon: "tabler:home",
          image: {
            src: "~/assets/images/DoodledBird.png",
            alt: "Steps image",
          },
        },
      ]}
    />
  </section> -->
  <section>
    <h2>Foire aux questions</h2>
    <Accordion
      items={[
        {
          title: "Quel est le budget de l’Agenda des Voisins ?",
          description:
            "L'agenda a un petit budget : 4 ramettes de papier (4 x 5€) et 3000 impressions (3000 x 0,02€), soit environ 80€ par mois. Les bénéficiaires (associations, collectivités, voisins) donnent régulièrement de l'argent ou du papier.",
          number: 1,
        },
        {
          title: "Qui décide de la ligne éditoriale ?",
          description:
            "La ligne éditoriale est discutée lors de réunions trimestrielles entre bénévoles. Le prochain rendez-vous aura lieu en novembre 2024.",
          number: 2,
        },
        {
          title: "Comment sont prises les décisions ?",
          description:
            "Les décisions sont prises de manière inclusive et lente pour que chacun puisse s’adapter. Nous testons chaque nouveauté avant de l’adopter, afin d’assurer que tout fonctionne bien.",
          number: 3,
        },
        {
          title: "Quel est le statut juridique de l’Agenda des Voisins ?",
          description:
            "L’Agenda est pour l’instant soutenu par Familles Rurales Briouze, qui partage nos valeurs de lien social. À terme, nous envisageons de devenir une association.",
          number: 4,
        },
      ]}
    />
  </section>
</Layout>
