<blockquote
  class="oa-agenda"
  align="center"
  data-filters="search,timings"
  data-base-url="oa"
  data-primary-color="#000000"
  data-image-list="maxHeight:0px"
>
  <p lang="fr">
    Voir les évènements de <a
      href="https://openagenda.com/agendas/28388637?relative%5B0%5D=current&relative%5B1%5D=upcoming"
      ><b>Agenda des Voisins</b></a>
  </p>
</blockquote>
<script
  async
  src="https://cdn.openagenda.com/js/widgets.js"
  charset="utf-8"></script>

